@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

:root {
  font-size:16px;
  --clr-primary: #DB5461;
  --clr-dark: #333;
  --clr-neutral: #686963;
  --clr-light: #EEE;
  --def-font: 'Poppins', sans-serif;
  --alt-font: 'Karantina', cursive;
}

html {
 font-family:var(--def-font);
}

body {
  margin:0 auto;
  width:95%;

}

h1,
h2,
h3 {
  color: var(--clr-dark);
 
}

h1 {
  font-size:4rem;
  margin-bottom:2rem;
}

h2 {
  font-size:2rem;
  margin-bottom:1rem;
}

p {
  padding:2rem;
}

.portfolio-grid {

display:grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap:1%;

}

.portfolio-grid a {
 width:100%;
 padding:.5rem 0;
 font-size:.85rem;
 color: var(--clr-dark);
}

.portfolio-grid a:hover {
    color: var(--clr-primary);
  transition: all 0.3s ease;
}

 @media only screen and (min-width:600px) {
  body { 
   width:70%;
  }

  .portfolio-grid {
   grid-template-columns: repeat(3, 1fr);
  }

 }

 @media only screen and (min-width:800px) {
  body { 
   width:60%;
  }
 }

 @media only screen and (min-width:1000px) {
  body { 
   width:50%;
  }
 }

  @media only screen and (min-width:1400px) {
  body { 
   width:40%;
  }
 }

 @media only screen and (min-width:2000px) {
  body { 
   width:30%;
  }
 }