@font-face {
    font-family:'Bebas Neue';
    src: url(../fonts/bebas-neue-regular.ttf);
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:'Raleway';
    src: url(../fonts/raleway-variable-font-weight.ttf);
    font-weight:100 900;
    font-style:normal;
}

@font-face {
    font-family:'Rouge Script';
    src: url(../fonts/rougescript-regular.ttf);
    font-weight:100 900;
    font-style:normal;
}
:root {
    --main-font:Raleway, sans-serif;
    --font-for-style:'Rouge Script';
    --secondary-font:'Bebas Neue', serif;
    --main-color:#333;
    --main-link-color:#754043;
    --main-background-color:#EEE;
    --top-position:35%;
    font-size:16px;
    
}

body {
        font-family:var(--main-font);
        font-weight:400;
        margin:0;
        padding:0;
        box-sizing: border-box;
        color:var(--main-color);
        background-color:var(--main-background-color);
}

/*
.page-header {
    padding:1%;
    display:flex;
    flex-direction: row;
    
}

*/

.logo {
    margin:4% auto;
    width:100%;
}

.logo > img {
    width:100%;
}

.header-social-media {
    display:none;
}

.page-header > p {
    text-align:center;
    color:#222;
    font-size:2.5rem;
    margin-top:-1.5rem;
    font-family:var(--font-for-style);
}

.gallery {
    margin:0;
    width:100%;
    display:grid;
    grid-template-columns:1fr;
    grid-gap:.5rem;
}

.gallery-item {
    margin:auto;
    position: relative;
    width:100%;
    background-color:transparent;
}

.gallery-item > figure {
    margin:0;
    width:100%;
            }

.gallery-item > figure > img {
    width:100%;
    clip-path: inset(15% 0 35% 0);
}

.gallery-item-1 {
    margin-top:-5rem;
    
}
.gallery-item-2,
.gallery-item-3,
.gallery-item-4{
    margin-top:-78%;
    overflow:hidden;
}


/* Fade to Back */
         
            .overlay {
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width:100%;
                opacity:0;
                transition: .75s ease;
              
            }

            .gallery-item:hover .overlay {
              opacity:.8;
            }

            .text {
                display:flex;
                height:auto;
                justify-content: center;
                align-items: center;
                position:relative;
                overflow:auto;
                top:30%;
                
            }
            
            .text a {
                font-size:2.5rem;
                font-family: var(--font-for-style);
                text-decoration:none;
                background-color:var(--main-background-color);
                width:100%;
                padding:5% 0;
                text-align: center;
                color:var(--main-link-color);
            }


/*
.gallery-item-1 {
    grid-area:item-1;
}

.gallery-item-2 {
    grid-area:item-2;
}

.gallery-item-3 {
    grid-area:item-3;
}

.gallery-item-4 {
    grid-area:item-4;
}
*/



.page-footer {
    position:relative;
    bottom:0;
    text-align:center;
    width:100%;
    margin:-5rem 0 0 0;
}

.footer-social-media {
    
}

.header-social-media a,
.footer-social-media a {
    text-decoration: none;
    padding:0 1%;    
}

.header-social-media img,
.footer-social-media img {
    width:100%;
    max-width:40px;
}

.copyright {
    margin-top:5rem;
    margin-bottom:0;
}

.copyright > a {
    
    color:var(--main-link-color);
}
.address {
    
    margin-top:0;
}
/*
.social-media-links {
    width:60%;
    padding:2%;
    text-align: right;
}

.social-media-links a {
    text-decoration: none;
    padding:0 .5%;
    
}

.social-media-links img {
    width:100%;
    max-width:30px;
    
}

*/


@media (min-width:600px) {
    .social-media-links img {
        max-width:40px;
    }
    
    
}

@media (min-width:800px) {
    
}

@media (min-width:1000px) {
    
}

/*

@media (min-width:1200px) {
    
    body {
        background-image: url(https://picsum.photos/id/1014/6016/4000.jpg);
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
    .main-heading {
        background:none;
        clip-path:none;
        padding:0;
        top:var(--top-position);
    }
    
    .main-heading h1 a {
        font-size:12rem;
        color:rgb(40, 40, 40);
    }
    
    .main-heading h1 a:hover {
    
    color:rgba(10, 10, 10, .5);
}
    
    .main-heading p {
        color:#222;
        font-size:3rem;
    }
}

&/