@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  font-size:16px;
}

body {
font-family: 'KoHo', sans-serif;
margin:0 auto;
  width:50%;
}

input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

input[type=submit] {
  background-color: #04aa4f;
  color: white;
  width:49%;
  float:left;
  margin-right:1%;
}

input[type=reset] {
  width:49%;
  color:white;
  background-color:#444;
  margin-left:1%;
}

input[type=submit]:hover,
input[type=reset]:hover {
  cursor: pointer;
}

.container {
  background-color: #f1f1f1;
  padding: 1.125rem;
}

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 1rem;
  margin-top: .75rem;
}

#message p {
  padding: .75rem 2rem;
  font-size: 1.25rem;
}

.valid {
  color: rgb(0, 128, 0);
}

.valid:before {
  position: relative;
  left: -2rem;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -2rem;
  content: "✖";
}